html {
    scroll-behavior: smooth;
}

header {
    font-family: fantasy;
    background-color: rgb(127, 135, 148);
    padding: 25px;
}

h1 {
    text-align: left;
    font-size: 50px;
    display: inline-block;
    background-color: rgb(54, 196, 196);
    border-inline-start: 5px groove rgb(54, 196, 196);
    border-inline-start-width: 20px;
}

nav {
    float: right;
    padding: 5px;
    font-size: 25px;
}

#nav-links {
    list-style-type: none;
}

.nav-items {
display: inline-block;
padding: 10px;
text-decoration: underline;
border-bottom: 5px;
color: black;
}

.nav-hover-links:hover {
background-color: rgb(180, 57, 57);
box-shadow: 5 px;
transition: background-color .5s;
}

a:visited {
color: rgb(57, 57, 158);
}

#background-image {
    height: 200px;
    width: 100%;
    background-color: blue;
    opacity: 95%;
}

#about-me {
    display: flex;
}

#work {
    display: flex;
}


#about-me-title {
    border-right: 5px solid green;
    height: 400px;
    width: 12%;
    font-size: 40px;
    margin-left: 15%;
    padding-right: 113px;
}

.section-descriptions {
    padding: 20px;
    text-align: left;
    font-family: fantasy;
    text-align-last: left;
    margin-left: 5%;
}

#profile-picture {
height: fit-content;
width: 20%;
border-radius: 20%;
}

#work-title {
    border-right: 5px solid green;
    height: 1000px;
    width: 12%;
    font-size: 40px;
    margin-left: 15%;
    padding: 20px;
}

#main-project-image {
    margin-left: 20%;
    margin-top: 10%;
    height: 400px;
    width: auto;
    border: solid 10px gray;
    padding: 5px;
}

#sunset-image {
    height: 200px;
    margin-top: 40%;
    margin-left: 1%;
    width: auto;
    border: solid 10px gray;
    padding: 5px;
}

#flower-image {
    height: 200px;
    margin-top: 40%;
    margin-left: -45%;
    width: auto;
    padding: 5px;
    border: solid 10px gray;
}

#contact-me-title {
    border-right: 5px solid green;
    height: 80px;
    width: 12%;
    font-size: 40px;
    margin-left: 15%;
    padding: 20px;
    margin-bottom: -5%;
}

#contact-info {
    text-align: center;
}

.contact-me-links {
    display: inline-block;
    text-decoration: underline;
    border-bottom: 5px;
    color: black;
    padding: 10px;
    font-size: large;
    }