header {
    font-family: fantasy;
    background-color: rgb(127, 135, 148);
    padding: 25px;
}

h1 {
    text-align: left;
    font-size: 50px;
    display: inline-block;
    background-color: rgb(54, 196, 196);
}

nav {
    float: right;
    padding: 5px;
    font-size: 25px;
}

#nav-links {
    list-style-type: none;
}

.nav-items {
display: inline-block;
padding: 10px;
text-decoration: underline;
border-bottom: 5px;
color: black;
}

.nav-hover-links:hover {
background-color: rgb(180, 57, 57);
box-shadow: 5 px;
transition: background-color .5s;
}

a:visited {
color: rgb(57, 57, 158);
}

#background-image {
    height: 200px;
    width: 100%;
    background-color: blue;
}

.sections {
display: flex;
}

.titles {
    border-right: 5px solid green;
    height: 400px;
    width: 12%;
    font-size: 40px;
    padding: 15px;
    margin-left: 15%;
}

.section-descriptions {
    padding: 20px;
    text-align: center;
    width: 75%;
    margin-left: 10%;
    font-family: fantasy;
}
